<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/style.css.map">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="sub_page">
{{> header }}
<div class="container">
    {{{body}}}
</div>
<script src="/js/bootstrap.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/jquery-3.4.1.min.js"></script>
</body>
</html>
